header{
    background-color: #6495ed;
    color: #000000; 
    text-align: center;
    padding: 30px;
}
body{
    background-color: #00ffff;
    color: #330000;
    font-family: Verdana;
}

footer{
    background-color: #6495ed;
    color: #000000;
    font-size: .60em;
    font-style: italic;
    text-align: center;

}
a{
    color: red;
}

img {
    border-radius: 50%;
             
    }
.wrapper{
    position : relative;
    text-align: center;
    margin: auto;
}
.submit{
    position : relative;
    text-align: center;
    margin: auto;
}
.price{
    position : relative;
    text-align: center;
    margin: auto;
}
#div1{
     position : relative;
    text-align: center;
    margin: auto;
}